/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_94271f74f1b5aa7b90fcb96c1ea880da.eot");
  src: url("./fontcustom_94271f74f1b5aa7b90fcb96c1ea880da.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_94271f74f1b5aa7b90fcb96c1ea880da.woff") format("woff"),
       url("./fontcustom_94271f74f1b5aa7b90fcb96c1ea880da.ttf") format("truetype"),
       url("./fontcustom_94271f74f1b5aa7b90fcb96c1ea880da.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_94271f74f1b5aa7b90fcb96c1ea880da.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-arrow-worm:before,
.icon-beroida:before,
.icon-calendar:before,
.icon-cestida:before,
.icon-chaetognath:before,
.icon-copepod:before,
.icon-cydippid:before,
.icon-depth:before,
.icon-doliolid-with-tail:before,
.icon-doliolid-without-tail:before,
.icon-fish-larvae:before,
.icon-images:before,
.icon-larvacean:before,
.icon-larvacean-house:before,
.icon-lobate:before,
.icon-marker:before,
.icon-medusa-ephyrae:before,
.icon-medusa-four-tentacles:before,
.icon-medusa-goblet:before,
.icon-medusa-more-than-four-tentacles:before,
.icon-platytecnida:before,
.icon-polychaete-worm:before,
.icon-prayidae:before,
.icon-pteropods:before,
.icon-radiolarian-colonies:before,
.icon-radiolarian-dark:before,
.icon-rocket-sipho:before,
.icon-salp:before,
.icon-shrimp:before,
.icon-sipho-corn-cob:before,
.icon-sipho-two-cups:before,
.icon-solmaris:before,
.icon-speed:before,
.icon-status:before,
.icon-temperature:before,
.icon-thalasso:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-arrow-worm:before { content: "\f100"; }
.icon-beroida:before { content: "\f101"; }
.icon-calendar:before { content: "\f102"; }
.icon-cestida:before { content: "\f103"; }
.icon-chaetognath:before { content: "\f104"; }
.icon-copepod:before { content: "\f105"; }
.icon-cydippid:before { content: "\f106"; }
.icon-depth:before { content: "\f107"; }
.icon-doliolid-with-tail:before { content: "\f108"; }
.icon-doliolid-without-tail:before { content: "\f109"; }
.icon-fish-larvae:before { content: "\f121"; }
.icon-images:before { content: "\f10a"; }
.icon-larvacean:before { content: "\f10b"; }
.icon-larvacean-house:before { content: "\f10c"; }
.icon-lobate:before { content: "\f10d"; }
.icon-marker:before { content: "\f120"; }
.icon-medusa-ephyrae:before { content: "\f122"; }
.icon-medusa-four-tentacles:before { content: "\f10e"; }
.icon-medusa-goblet:before { content: "\f10f"; }
.icon-medusa-more-than-four-tentacles:before { content: "\f110"; }
.icon-platytecnida:before { content: "\f111"; }
.icon-polychaete-worm:before { content: "\f112"; }
.icon-prayidae:before { content: "\f113"; }
.icon-pteropods:before { content: "\f124"; }
.icon-radiolarian-colonies:before { content: "\f114"; }
.icon-radiolarian-dark:before { content: "\f125"; }
.icon-rocket-sipho:before { content: "\f126"; }
.icon-salp:before { content: "\f117"; }
.icon-shrimp:before { content: "\f118"; }
.icon-sipho-corn-cob:before { content: "\f119"; }
.icon-sipho-two-cups:before { content: "\f11a"; }
.icon-solmaris:before { content: "\f11b"; }
.icon-speed:before { content: "\f11c"; }
.icon-status:before { content: "\f11d"; }
.icon-temperature:before { content: "\f11e"; }
.icon-thalasso:before { content: "\f11f"; }
