[class^="icon-"],
[class*=" icon-"] {
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
}
.btn.dropdown-toggle [class^="icon-"],
.btn.dropdown-toggle [class*=" icon-"] {
  /* keeps button heights with and without icons the same */

  line-height: 1.4em;
}
.icon-large {
  font-size: 1.3333em;
}


.icon-arrow-worm { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf100;&nbsp;');} 
.icon-beroida { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf101;&nbsp;');} 
.icon-cestida { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf102;&nbsp;');} 
.icon-chaetognath { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf103;&nbsp;');} 
.icon-copepod { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf104;&nbsp;');} 
.icon-cydippid { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf105;&nbsp;');} 
.icon-depth { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf106;&nbsp;');} 
.icon-doliolid-with-tail { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf107;&nbsp;');} 
.icon-doliolid-without-tail { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf108;&nbsp;');} 
.icon-images { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf109;&nbsp;');} 
.icon-larvacean-house { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf10a;&nbsp;');} 
.icon-larvacean { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf10b;&nbsp;');} 
.icon-lobate { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf10c;&nbsp;');} 
.icon-medusa-four-tentacles { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf10d;&nbsp;');} 
.icon-medusa-goblet { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf10e;&nbsp;');} 
.icon-medusa-more-than-four-tentacles { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf10f;&nbsp;');} 
.icon-platytecnida { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf110;&nbsp;');} 
.icon-polychaete-worm { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf111;&nbsp;');} 
.icon-prayidae { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf112;&nbsp;');} 
.icon-radiolarian-colonies { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf113;&nbsp;');} 
.icon-rocket-thimble { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf114;&nbsp;');} 
.icon-rocket-triangle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf115;&nbsp;');} 
.icon-salp { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf116;&nbsp;');} 
.icon-shrimp { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf117;&nbsp;');} 
.icon-sipho-corn-cob { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf118;&nbsp;');} 
.icon-sipho-two-cups { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf119;&nbsp;');} 
.icon-solmaris { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf11a;&nbsp;');} 
.icon-speed { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf11b;&nbsp;');} 
.icon-status { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf11c;&nbsp;');} 
.icon-thalasso { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf11d;&nbsp;');} 