@keyframes classifier-loading
  0%
    background-position: 0 0

  100%
    background-position: 0 -150px

.on-classify-page
  background: darken($dark-gray, 50%)

body > .stack > .classify
  height: 100%
  left: 0
  padding: 20px 0 30px
  top: 0
  width: 100%

  @media (max-height: 675px)
    &
      position: relative // Scroll in short windows

  .classify-container
    display: table
    height: 100%
    width: 100%

  .classify-centerer
    display: table-cell
    height: 100%
    text-align: center
    width: 100%
    vertical-align: middle

  .classification-interface
    box-shadow: 0 5px 10px rgba(#000, 0.5)
    display: inline-block
    height: 672px
    padding: 0
    position: relative
    width: 1024px

  .subject-container
    height: 560px
    position: relative
    width: 1024px
    z-index: 1

    &:focus
      outline: none

    &.disabled
      cursor: not-allowed

    svg
      display: block

    .marking-surface-tool-controls
      background: $dark-gray
      background: rgba($dark-gray, 0.9)
      border-radius: 3px
      box-shadow: 0 3px 3px rgba(#000, 0.25)
      margin: -40px 0 0 20px
      z-index: 2

      &:after
        border: 8px solid transparent
        border-right-color: lighten($dark-gray, 10%)
        content: ""
        height: 0
        position: absolute
        right: 100%
        top: 30px
        width: 0

      &.to-the-left
        margin: -40px 20px 0 0

        &:after
          border-left-color: lighten($dark-gray, 10%)
          border-right-color: transparent
          left: 100%
          right: auto

      button[name="toggle"]
        background: rgba(#000, 0.67)
        border: 3px solid $lime
        border-radius: 50%
        color: $lime
        display: none
        font-size: 20px
        height: 30px
        left: -20px
        line-height: 1
        margin: -15px 0 0 -15px
        position: absolute
        text-shadow: 0 1px 1px #000
        top: 40px
        width: 30px

        .label,
        .example-photo
          display: none

        &:hover
          background: #000

      &.to-the-left button[name="toggle"]
        left: 20px

      $delete-mark-size = 22px

      button[name="delete-mark"]
        background: $dark-gray
        border-radius: 0 $delete-mark-size $delete-mark-size 0
        bottom: 100%
        font-family: Arial
        font-size: $delete-mark-size * 0.8
        height: $delete-mark-size
        line-height: $delete-mark-size
        position: absolute
        left: 100%
        top: 30px
        width: $delete-mark-size

        &:hover
          color: red

      &.to-the-left button[name="delete-mark"]
        border-radius: $delete-mark-size 0 0 $delete-mark-size
        left: auto
        right: 100%

      .categories,
      .category
        button
          height: 75px
          line-height: 1
          position: relative
          width: 75px

          i
            font-size: 55px
            text-shadow: 0 1px 0 rgba(#fff, 0.25)

          .label
            background: rgba($lime, 0.9)
            border-radius: 3px
            box-shadow: 0 1px 3px rgba(#000, 0.5)
            color: #000
            display: none
            font-size: 10px
            font-weight bold
            padding: 3px 10px
            position: absolute
            left: 50%
            top: 95%
            transform: translateX(-50%)
            white-space: nowrap
            z-index: 2

            &:before
              border: 5px solid transparent
              border-bottom-color: rgba($lime, 0.9)
              bottom: 100%
              content: ""
              left: 50%
              margin-left: -5px
              position: absolute

          .example-photo
            border: 2px solid $lime
            border-radius: 3px
            box-shadow: 0 1px 1px #000
            display: none
            height: 100px
            left: 50%
            position: absolute
            top: 105%
            transform: translateX(-50%)
            z-index: 1

          &:hover
            .label
            .example-photo
              display: block

          &.active i
            color: $lime
            text-shadow: 0 1px 0 #000

      .categories
        background: lighten($dark-gray, 10%)
        box-shadow:
          0 1px 0 rgba(#fff, 0.33) inset,
          0 1px 3px rgba(#000, 0.25)
        display: flex

        button
          &:before,
          &:after
            border: 5px solid transparent
            border-top-color: lighten($dark-gray, 10%)
            bottom: 0px
            content: ""
            height: 0
            left: 50%
            margin-left: -5px
            position: absolute
            width: 0

          &:before
            border-top-color: rgba(#000, 0.25)
            bottom: -2px

          &.active
            &:before,
            &:after
              border-width: 8px
              bottom: -16px
              margin-left: -8px

            &:before
              bottom: -17px

      &.complete .categories
        display: block

      .category
        display: none

        &.active
          display: block

      &.closed
        &:after,
        button[name="delete-mark"],
        .categories,
        .category
          display: none

        button[name="toggle"]
          display: inline-block

  .swap-container
    height: 560px
    left: 0
    overflow: hidden
    position: absolute
    top: 0
    width: 1024px
    z-index: 1

    .drawer
      left: 0
      position: absolute
      top: 0

      img
        background: gray
        display: block
        height: 560px
        width: 1024px


  .training-message
    bottom: 120px
    display: none
    position: absolute
    left: 0
    width: 100%
    z-index: 1

  &.training .training-message
    display: block

  .status
    background: $dark-gray
    bottom: 0
    display: table
    font-weight: bold
    font-size: 12px
    height: 112px
    left: 0
    position: absolute
    width: 100%

    a
      color: inherit
      text-decoration: none

    > div
      border: 1px solid transparent
      border-color: rgba(#fff, 0.15) rgba(#000, 0.25) rgba(#000, 0.25) rgba(#fff, 0.15)
      display: table-cell
      padding: 0 40px
      text-align: center
      vertical-align: middle

      &.display,
      &.return
        padding: 0 20px
        width: 70px

      &.creatures
        width: 120px

      &.continue
        padding: 0

    .aux
      font-size: 10px
      left: 0
      margin-top: 20px
      position: absolute
      top: 100%
      width: 100%

    .display > i
      font-size: 60px
      line-height: 1

    .creatures .display
      background: #000
      border-radius: 3px
      box-shadow: 0 1px 0 rgba(#fff, 0.25)
      overflow: hidden
      padding: 5px 7px

      .label
        color: $dark-gray
        float: left
        font-size: 10px
        line-height: 12px
        text-transform: uppercase
        width: 0 // This is just to get the lines to wrap.

      .number
        float: right
        font-size: 18px

    .continue
      .finish
        display: block
        position: relative

        // .marks-incomplete
        //   background: rgba($lime, 0.9)
        //   border-radius: 3px
        //   box-shadow: 0 1px 3px rgba(#000, 0.5)
        //   color: #000
        //   display: none
        //   font-size: 10px
        //   font-weight bold
        //   padding: 3px 10px
        //   position: absolute
        //   left: 50%
        //   top: -120%
        //   transform: translateX(-50%)
        //   white-space: nowrap
        //   z-index: 2

        //   &:before
        //     border: 5px solid transparent
        //     border-top-color: rgba($lime, 0.9)
        //     top: 100%
        //     content: ""
        //     left: 50%
        //     margin-left: -5px
        //     position: absolute

        //   &.show
        //     display: block

      .next
        display: none

      a,
      button
        margin: 0 2px
        padding: 0 5px
        border-radius: 3px

      button[name="unfavorite"]
        background: rgba(#000, 0.25)
        box-shadow: 0 1px 3px black inset
        display: none

      button[name="finish"],
      button[name="next"],
      a.talk
        background: rgba(#fff, 0.25)
        border-radius: 3px
        box-shadow:
          0 1px 0 rgba(#fff, 0.25) inset,
          0 0 0 rgba(#fff, 0) inset,
          0 5px 10px rgba(#000, 0.25)
        color: #000
        display: inline-block
        font-weight: bold
        padding: 3px 1em
        text-decoration: none
        text-shadow: 0 1px 0 rgba(#fff,0.15)

        &:hover
          box-shadow:
            0 1px 0 rgba(#fff, 0.25) inset,
            0 100px 0 rgba(#fff, 0.1) inset,
            0 5px 10px rgba(#000, 0.25)

        &:active
          box-shadow:
            0 1px 0 rgba(#fff, 0.15) inset,
            0 0 0 rgba(#fff, 0) inset,
            0 1px 3px rgba(#000, 0.33)

    .return .home-arrow
      font-size: 20px

  .loader
    animation: 3s classifier-loading linear infinite
    background: linear-gradient(top, rgba(#000, 0.5) 0, rgba(#000, 0) 50%, rgba(#000, 0.5) 100%)
    background-size: 150px 150px
    bottom: 0
    display: none
    left: 0
    position: absolute
    right: 0
    top: 0
    z-index: 2

  &.finished .status .continue
    .finish
      display: none

    .next
      display: block

  &.loading .loader
    display: block

  &.signed-in button[name="sign-in"]
    display: none

  &.is-favorite .status .continue
    button[name="favorite"]
      display: none

    button[name="unfavorite"]
      display: inline-block

.no-tutorial-headers .tutorial .header,
.no-tutorial-progress .tutorial .progress
  display: none

.tutorial
  $arrow-size = 15px

  text-align: left;

  .progress .track
    display: none // Use the dots instead

  .dialog-arrow
    border: $arrow-size solid transparent
    height: 0
    margin: ($arrow-size * -1) 0 0 ($arrow-size * -1)
    position: absolute
    width: 0

  &.point-up .dialog-arrow
    border-bottom-color: #fff
    border-top-width: 0
    bottom: 100%
    left: 50%

  &.point-right .dialog-arrow
    border-left-color: #fff
    border-right-width: 0
    left: 100%
    margin-left: 0
    top: 50%

.training-species-icon
  background: rgba($green, 0.75)
  border-radius: 50%
  color: #fff
  font-size: 50px
  height: 1em
  line-height: 1
  margin: -0.5em 0 0 -0.5em
  position: absolute
  text-align: center
  width: 1em
  z-index: 1

.training-dont-mark-label
  background: #900
  border-radius: 3px
  color: #fff
  font-size: 12px
  font-weight: bold
  padding: 0 10px
  position: absolute
  transform: translateX(-50%)
  z-index: 1
