$red = #c02d24
$green = #83b925
$blue = #1db1d6
$lime = #c1ea00
$yellow = #f9c810
$light-gray = #646c77
$dark-gray = #272c32

$helvetica = "Helvetica Neue", Arial, sans-serif
$sans-serif = "Open Sans", $helvetica
$serif = "Merriweather", "Georgia", serif

button
  background: transparent
  border: 0
  color: inherit
  cursor: pointer
  font: inherit
  margin: 0
  padding: 0
  text-shadow: inherit

  &::-moz-focus-inner
    border: 0

  &:disabled
    opacity: 0.33
    pointer-events: none

#flat-button
  background: $green
  border-radius: 5px
  box-shadow: 0 0 0 3px rgba($green, 0.5)
  color: #fff
  display: inline-block
  font-weight: bold
  padding: 5px 20px
  text-decoration: none
  text-shadow: 0 1px 1px rgba(#000, 0.5)
