body > .stack > .home
  .about-pages
    overflow: hidden

    .item
      float: left
      width: 33%

      a
        background: #000
        display: block
        margin: 10px
        padding: 40px 0
        text-align: center
