@import "../node_modules/zooniverse/css/zooniverse.css"

@import "./common"
@import "./layout"
@import "./navigation"
@import "./critter"
@import "./home"
@import "./science"
@import "./classify"
@import "./profile"
@import "./team"
