html
  background: #000
  color: #f3f3f3
  font: 14px $sans-serif

body
  margin: 0

  > .stack
    margin: 0 auto
    position: relative
    width: 1024px
    z-index: 1

    > *
      padding: 75px 25px 50px

    h1
      color: $blue
      font: 24px $serif

.site-navigation
  background: rgba(#000, 0.25)
  left: 0
  line-height: 40px
  position: absolute
  top: 0
  transition:
    background 0.25s ease-in-out,
    top 0.5s ease-in-out 0.25s
  width: 100%
  z-index: 2

  &:hover
    background: rgba(#000, 0.5)

  .links
    box-sizing: border-box
    margin: 0 auto
    padding: 0 15px
    width: 1024px

  a
    color: inherit
    display: inline-block
    padding: 0 10px
    text-decoration: none

.spine.stack > *
  display: none

  nav,
  &.active
    display: block
