html
  background: #000
  color: #f3f3f3
  font: 14px $sans-serif

body
  margin: 0

  > .stack
    margin: 0 auto
    position: relative
    width: 1024px
    z-index: 1

    > *
      padding: 75px 25px 50px

    h1
      color: $blue
      font: 24px $serif

.spine.stack > *
  display: none

  nav,
  &.active
    display: block
