body > nav
  background:
    linear-gradient(rgba(#000, 0.75), rgba(#000, 0)),
    #000 url("./images/critters/octopus.jpg") 100% 50% no-repeat
  border-bottom: 1px solid rgba(#fff, 0.33)
  font-size: 12px
  font-weight: bold
  height: 120px
  line-height: 1.5
  left: 0
  max-height: 400px
  min-height: 60px
  position: relative
  overflow: hidden
  top: 0
  transition:
    height 0.25s ease-in-out,
    opacity 0.5s ease-in-out,
    top 0.25s ease-in-out
  width: 100%
  z-index: 2

  .links
    border-radius: 5px
    box-sizing: border-box
    margin: 60px auto 0
    padding: 0 15px
    text-align: right
    width: 1024px

  h1
    display: inline
    font-family: $helvetica
    font-size: 24px
    float: left
    letter-spacing: 2px
    margin: 0
    text-transform: uppercase

  a
    border-radius: 5px
    color: inherit
    display: inline-block
    margin: 5px 0
    padding: 5px 15px
    text-decoration: none
    text-shadow: 0 1px 2px #000

    &:hover
      background: rgba(#000, 0.33)
