body > nav
  background: #000 url("./images/critters/octopus.jpg") 100% 50% no-repeat
  border-bottom: 1px solid rgba(#fff, 0.33)
  font-size: 12px
  font-weight: bold
  height: 120px
  line-height: 40px
  left: 0
  max-height: 400px
  min-height: 60px
  position: relative
  overflow: hidden
  top: 0
  transition:
    opacity 0.5s ease-in-out,
    top 0.25s ease-in-out 0.1s
  width: 100%
  z-index: 2

  &:after
    border: 15px solid transparent
    border-top-color: #000
    content: ""
    left: 50%
    margin-left: -512px + 30px
    position: absolute
    top: 100%

  .links
    box-sizing: border-box
    margin: 60px auto 0
    padding: 0 15px
    text-align: right
    width: 1024px

  h1
    display: inline
    font-size: 24px
    float: left
    letter-spacing: 1px
    margin: 0
    text-transform: uppercase

  a
    color: inherit
    display: inline-block
    padding: 0 15px
    text-decoration: none
    text-shadow: 0 1px 1px #000
