body > .stack > .science
  img
    &.framed
      border: 5px solid white
      box-shadow: 0 3px 5px #000

    &.left
      clear: left
      float: left
      margin: 0 20px 15px 0

    &.right
      clear: right
      float: right
      margin: 0 0 15px 20px

  hr#round
    display: none

.scale-guide
  margin-bottom: 1em

  .scale-images
    display: flex
    justify-content: space-between
    margin-top: 1em

    .description
      font-size: 12px
      padding: 1em
      width: 75%

    .figures
      figure
        display: inline-block
        margin: 1em 5px

        figcaption
          font-size: 12px
          text-align: center

.field-guide-entry
  margin-bottom: 3em
  text-align: center

  & > figure
    display: inline-block
    margin: 0 20px
    vertical-align: middle
    width: 150px

    & > i
      display: block
      margin: -20px 0
      font-size: 140px

    & > figcaption
      font-size: 10px
      font-weight: bold
      letter-spacing: 1px
      text-transform: uppercase
      
      p
        font-size: 11px
        font-style: italic
        text-transform: capitalize
        font-weight: 400
        text-align: center
        
        i
          color: $lime
          font-size: 16px

  & > img
    box-shadow: 0 3px 5px -3px #000
    margin: 0 20px
    vertical-align: middle
    width: 150px

  & > .description
    font-size: 12px
    font-weight: bold
    margin: 1em 0 1em 210px
    padding: 1em
    text-align: left
    width: 75%

.species-description
  clearfix()

  .illustration
    float: left
    margin: 20px 5% 0 0
    text-align: center
    width: 15%

    i
      color: $lime
      font-size: 96px
      line-height: 1

    .identified
      font-weight: bold

      .count
        font-size: 18px

      .label
        font-size: 10px
        letter-spacing: 1px
        opacity: 0.5
        text-transform: uppercase

  .description
    float: left
    margin-right: 5%
    width: 50%

  .photos
    float: left
    margin-top: 40px
    text-align: center
    width: 25%

    img
      max-width: 100%
