body > .stack > .science
  color: inherit

.species-description
  clearfix()

  .illustration
    float: left
    margin: 20px 5% 0 0
    text-align: center
    width: 15%

    i
      color: $lime
      font-size: 96px
      line-height: 1

    .identified
      font-weight: bold

      .count
        font-size: 18px

      .label
        font-size: 10px
        letter-spacing: 1px
        opacity: 0.5
        text-transform: uppercase

  .description
    float: left
    margin-right: 5%
    width: 50%

  .photos
    float: left
    margin-top: 40px
    text-align: center
    width: 25%

    img
      max-width: 100%
