body > .stack > .science > .team
  overflow: hidden
  padding: 0 25px

  .team
    clearfix()
    clear: left
    max-width: 925px
    margin: 0 auto

    &:last-child
      margin: 0 0 175px 0

  .member
    box-sizing: border-box
    float: left
    margin: 20px 0 40px
    padding: 0 50px 5px 0
    position: relative
    width: 25%

    img
      height: 100px
      margin-bottom: 5px
      width: 80px

    &.organization img
      width: 190px

      &.upmc
        background-color: white
        height: 90px
        padding: 5px
        width: 180px

      &.oov
        background-color: white
        height: 90px
        padding: 5px 50px
        width: 90px

    .name
      font-size: 20px

    &.organization .name
      font-size: 12px
      line-height: 1
      height: 2em

    .role
      font-size: 10px
      font-weight: 600
      text-transform: uppercase

    .description-popup
      background: $lime
      border-radius: 5px
      color: #00
      display: none
      font-size: 10px
      font-weight: bold
      left: -10%
      position: absolute
      top: 100%
      width: 120%
      z-index: 1

      &:before
        border: 10px solid transparent
        border-bottom-color: $lime
        content: ""
        left: 25px
        position: absolute
        bottom: 100%

      > .description
        margin: 10px

    &:hover .description-popup
      display: block

    &:after
      background: $red
      height: 5px
      content: ""
      left: 0
      position: absolute
      top: 100%
      width: 80px

    &.organization:after
      width: 190px
